.preline {
  position: absolute;
  top: -3.23%;
  left: 27.59%;
  letter-spacing: -0.03em;
}
.logoShortIcon {
  position: absolute;
  top: 3px;
  left: 1px;
  width: 24px;
  height: 25px;
}
.logo1 {
  width: 116px;
  position: relative;
  height: 31px;
}
.logo {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.horizontalDivider {
  width: 1px;
  position: relative;
  background-color: #e5e7eb;
  height: 24px;
}
.buttonGroup {
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.buttonGroup,
.container,
.nav {
  display: flex;
  flex-direction: row;
}
.nav {
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.container {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4px 0;
}
.borderBottom {
  align-self: stretch;
  position: relative;
  background-color: #e5e7eb;
  height: 1px;
}
.headernavbar {
  width: 1360px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-size: 26px;
  color: #2563eb;
  font-family: Inter;
}
