.badgeWrapper,
.typeghostColorgrayState {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.badgeWrapper {
  margin: 0 !important;
  position: absolute;
  top: -9px;
  right: -10px;
  display: none;
  z-index: 1;
}
.typeghostColorgrayState {
  display: flex;
  position: relative;
}
