.homeIcon {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon {
  width: 20px;
  height: 20px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.placeholder {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
}
.inline {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.content,
.icon1,
.inline {
  flex-direction: row;
  align-items: center;
}
.icon1 {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  justify-content: center;
}
.content {
  display: flex;
  justify-content: flex-start;
  padding: 8px 12px;
  gap: 8px;
}
.borderBottom {
  align-self: stretch;
  position: relative;
  background-color: #e5e7eb;
  height: 2px;
}
.navLinkHover {
  flex: 1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.badge {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.navDisabledLink {
  flex: 1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d1d5db;
}
.typeborderedDirectionhoriz {
  border-bottom: 2px solid #e5e7eb;
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  text-align: left;
  font-size: 14px;
  color: #2563eb;
  font-family: Inter;
  align-self: stretch;
}
