.b {
  position: relative;
  font-size: 26px;
  letter-spacing: -0.03em;
}
.middleUxui,
.projectSerafim {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
}
.projectSerafim {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #6b7280;
}
.head,
.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  flex: 1;
  flex-direction: column;
  gap: 5px;
}
.head {
  align-self: stretch;
  flex-direction: row;
}
.b1 {
  position: relative;
  letter-spacing: 0.01em;
  color: #6b7280;
  white-space: pre-wrap;
}
.avatarIcon {
  width: 16px;
  border-radius: 999px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.avatarIcon,
.homeIcon,
.status {
  position: relative;
  display: none;
}
.homeIcon {
  width: 12px;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.status {
  width: 6px;
  border-radius: 999px;
  background-color: #2563eb;
  height: 6px;
}
.placeholder1 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-weight: 500;
}
.placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 4px;
  gap: 7px;
}
.xIcon {
  width: 8px;
  position: relative;
  height: 8px;
  overflow: hidden;
  flex-shrink: 0;
}
.badgeAndTag,
.closeIcon {
  border-radius: 999px;
  flex-direction: row;
  align-items: center;
}
.closeIcon {
  width: 15px;
  background-color: #dbeafe;
  height: 15px;
  display: none;
  justify-content: center;
}
.badgeAndTag {
  border: 1px solid #60a5fa;
  display: flex;
  justify-content: flex-start;
  padding: 6px;
  gap: 1px;
}
.listTags {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.inf,
.listTags,
.skills {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.skills {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 12px;
  color: #2563eb;
}
.inf {
  flex: 1;
  background-color: #fff;
  flex-direction: column;
  gap: 16px;
}
.body {
  align-self: stretch;
  flex-direction: row;
  gap: 16px;
}
.body,
.cardsinf,
.list,
.vacancies {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cardsinf {
  width: 432px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.04), 0 4px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
}
.list,
.vacancies {
  flex-direction: row;
  gap: 32px;
}
.vacancies {
  position: absolute;
  top: 736px;
  left: 40px;
  width: 896px;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  color: #1d4ed8;
  font-family: Inter;
}
